.book-form{
  max-width: 550px;
  margin: 0 auto;
    &__title{
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f0f0f0;
        font-size: 25px;
    }
    &__fields{
        margin-bottom: 30px;
    }
    &__field{
        margin-bottom: 15px;
        label{
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
        }
        input{
            display: block;
            width: 100%;
            height: 42px;
            padding: 0 10px;
            background: #fff;
            border: 1px solid #f0f0f0;
            box-sizing: border-box;
            box-shadow: none;
            &:focus{
                outline: none;
            }
        }
    }
    &__actions{
        &-item{
            display: block;
            width: 100%;
            height: 42px;
            margin-bottom: 30px;
            padding: 0 15px;
            border: none;
            font-size: 14px;
            color: #ffffff;
            cursor: pointer;
            background: rgb(235, 103, 15);
            max-width: 200px;
            margin: 0 auto;
            &:hover{
                opacity: 0.8;
            }
            &--add{
                background: rgb(46, 214, 110);
            }
            &--update{
                background: rgb(235, 103, 15);
            }
        }
    }
}
